[submodule "Lib/MPU6500"]
	path = Lib/MPU6500
	url = https://github.com/SnoopyNomad/MPU6500_STM32_Library.git
[submodule "Lib/NRF24"]
	path = Lib/NRF24
	url = https://github.com/crckmonk/NRF24_Lib
[submodule "Lib/MavLink"]
	path = Lib/MavLink
	url = https://github.com/mavlink/c_library_v2
[submodule "Lib/ESP8266"]
	path = Lib/ESP8266
	url = https://github.com/jrmejiaa/ESP8266.git
