build/Rover.map
build/debug/fonts.d
build/debug/fonts.lst
build/debug/fonts.o
build/debug/main.d
build/debug/main.lst
build/debug/main.o
build/debug/mcutils.d
build/debug/mcutils.lst
build/debug/mcutils.o
build/debug/motor.d
build/debug/motor.lst
build/debug/motor.o
build/debug/QMC5883.d
build/debug/QMC5883.lst
build/debug/QMC5883.o
build/debug/Rover.bin
build/debug/Rover.elf
build/debug/Rover.elf.in
build/debug/Rover.hex
build/debug/Rover.lss
build/debug/ssd1306.d
build/debug/ssd1306.lst
build/debug/ssd1306.o
build/debug/startup_stm32f411xe.o
build/debug/stm32f4xx_hal_cortex.d
build/debug/stm32f4xx_hal_cortex.lst
build/debug/stm32f4xx_hal_cortex.o
build/debug/stm32f4xx_hal_dma_ex.d
build/debug/stm32f4xx_hal_dma_ex.lst
build/debug/stm32f4xx_hal_dma_ex.o
build/debug/stm32f4xx_hal_dma.d
build/debug/stm32f4xx_hal_dma.lst
build/debug/stm32f4xx_hal_dma.o
build/debug/stm32f4xx_hal_exti.d
build/debug/stm32f4xx_hal_exti.lst
build/debug/stm32f4xx_hal_exti.o
build/debug/stm32f4xx_hal_flash_ex.d
build/debug/stm32f4xx_hal_flash_ex.lst
build/debug/stm32f4xx_hal_flash_ex.o
build/debug/stm32f4xx_hal_flash_ramfunc.d
build/debug/stm32f4xx_hal_flash_ramfunc.lst
build/debug/stm32f4xx_hal_flash_ramfunc.o
build/debug/stm32f4xx_hal_flash.d
build/debug/stm32f4xx_hal_flash.lst
build/debug/stm32f4xx_hal_flash.o
build/debug/stm32f4xx_hal_gpio.d
build/debug/stm32f4xx_hal_gpio.lst
build/debug/stm32f4xx_hal_gpio.o
build/debug/stm32f4xx_hal_i2c_ex.d
build/debug/stm32f4xx_hal_i2c_ex.lst
build/debug/stm32f4xx_hal_i2c_ex.o
build/debug/stm32f4xx_hal_i2c.d
build/debug/stm32f4xx_hal_i2c.lst
build/debug/stm32f4xx_hal_i2c.o
build/debug/stm32f4xx_hal_msp.d
build/debug/stm32f4xx_hal_msp.lst
build/debug/stm32f4xx_hal_msp.o
build/debug/stm32f4xx_hal_pwr_ex.d
build/debug/stm32f4xx_hal_pwr_ex.lst
build/debug/stm32f4xx_hal_pwr_ex.o
build/debug/stm32f4xx_hal_pwr.d
build/debug/stm32f4xx_hal_pwr.lst
build/debug/stm32f4xx_hal_pwr.o
build/debug/stm32f4xx_hal_rcc_ex.d
build/debug/stm32f4xx_hal_rcc_ex.lst
build/debug/stm32f4xx_hal_rcc_ex.o
build/debug/stm32f4xx_hal_rcc.d
build/debug/stm32f4xx_hal_rcc.lst
build/debug/stm32f4xx_hal_rcc.o
build/debug/stm32f4xx_hal_tim_ex.d
build/debug/stm32f4xx_hal_tim_ex.lst
build/debug/stm32f4xx_hal_tim_ex.o
build/debug/stm32f4xx_hal_tim.d
build/debug/stm32f4xx_hal_tim.lst
build/debug/stm32f4xx_hal_tim.o
build/debug/stm32f4xx_hal_uart.d
build/debug/stm32f4xx_hal_uart.lst
build/debug/stm32f4xx_hal_uart.o
build/debug/stm32f4xx_hal.d
build/debug/stm32f4xx_hal.lst
build/debug/stm32f4xx_hal.o
build/debug/stm32f4xx_it.d
build/debug/stm32f4xx_it.lst
build/debug/stm32f4xx_it.o
build/debug/syscalls.d
build/debug/syscalls.lst
build/debug/syscalls.o
build/debug/sysmem.d
build/debug/sysmem.lst
build/debug/sysmem.o
build/debug/system_stm32f4xx.d
build/debug/system_stm32f4xx.lst
build/debug/system_stm32f4xx.o
build/
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
openocd.cfg
.stm32env
STM32Make.make
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/codemodel-v2-31086cff015673ef1ae1.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-Source-Debug-93ebefb0dc4084c9ccf4.json
build/.cmake/api/v1/reply/directory-Source.ActivationFunctions-Debug-d7c4e292c7d2c897d8e8.json
build/.cmake/api/v1/reply/directory-Source.BasicMathFunctions-Debug-edb42b17a7f92eeee533.json
build/.cmake/api/v1/reply/directory-Source.ConcatenationFunctions-Debug-1eea99eb239da125e073.json
build/.cmake/api/v1/reply/directory-Source.ConvolutionFunctions-Debug-a50dbc04a23333934f23.json
build/.cmake/api/v1/reply/directory-Source.FullyConnectedFunctions-Debug-6df75e882a2243baeafd.json
build/.cmake/api/v1/reply/directory-Source.NNSupportFunctions-Debug-6247cfe2461e7a38879b.json
build/.cmake/api/v1/reply/directory-Source.PoolingFunctions-Debug-651e7d1ac8967ea97f6a.json
build/.cmake/api/v1/reply/directory-Source.ReshapeFunctions-Debug-cd6928df1b46704d5677.json
build/.cmake/api/v1/reply/directory-Source.SoftmaxFunctions-Debug-ebc98f5f5e1ff424b3b1.json
build/.cmake/api/v1/reply/directory-Source.SVDFunctions-Debug-aba629e65d334fc3335e.json
build/.cmake/api/v1/reply/target-cmsis-nn-Debug-47dff79700071d6f006e.json
build/.cmake/api/v1/reply/toolchains-v1-e719e28fe32911e094f8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeSystem.cmake
build/CMakeFiles/3.28.1/CompilerIdC/a.exe
build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Source/cmake_install.cmake
build/Source/ActivationFunctions/cmake_install.cmake
build/Source/BasicMathFunctions/cmake_install.cmake
build/Source/ConcatenationFunctions/cmake_install.cmake
build/Source/ConvolutionFunctions/cmake_install.cmake
build/Source/FullyConnectedFunctions/cmake_install.cmake
build/Source/NNSupportFunctions/cmake_install.cmake
build/Source/PoolingFunctions/cmake_install.cmake
build/Source/ReshapeFunctions/cmake_install.cmake
build/Source/SVDFunctions/cmake_install.cmake
build/Source/SoftmaxFunctions/cmake_install.cmake
build/debug/assert_handler.lst
build/debug/nrf24.d
build/debug/nrf24.lst
build/debug/nrf24.o
build/debug/printf.d
build/debug/printf.lst
build/debug/printf.o
build/debug/stm32f4xx_hal_spi.lst
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/codemodel-v2-31086cff015673ef1ae1.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-Source-Debug-93ebefb0dc4084c9ccf4.json
build/.cmake/api/v1/reply/directory-Source.ActivationFunctions-Debug-d7c4e292c7d2c897d8e8.json
build/.cmake/api/v1/reply/directory-Source.BasicMathFunctions-Debug-edb42b17a7f92eeee533.json
build/.cmake/api/v1/reply/directory-Source.ConcatenationFunctions-Debug-1eea99eb239da125e073.json
build/.cmake/api/v1/reply/directory-Source.ConvolutionFunctions-Debug-a50dbc04a23333934f23.json
build/.cmake/api/v1/reply/directory-Source.FullyConnectedFunctions-Debug-6df75e882a2243baeafd.json
build/.cmake/api/v1/reply/directory-Source.NNSupportFunctions-Debug-6247cfe2461e7a38879b.json
build/.cmake/api/v1/reply/directory-Source.PoolingFunctions-Debug-651e7d1ac8967ea97f6a.json
build/.cmake/api/v1/reply/directory-Source.ReshapeFunctions-Debug-cd6928df1b46704d5677.json
build/.cmake/api/v1/reply/directory-Source.SoftmaxFunctions-Debug-ebc98f5f5e1ff424b3b1.json
build/.cmake/api/v1/reply/directory-Source.SVDFunctions-Debug-aba629e65d334fc3335e.json
build/.cmake/api/v1/reply/target-cmsis-nn-Debug-47dff79700071d6f006e.json
build/.cmake/api/v1/reply/toolchains-v1-e719e28fe32911e094f8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeSystem.cmake
build/CMakeFiles/3.28.1/CompilerIdC/a.exe
build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Source/cmake_install.cmake
build/Source/ActivationFunctions/cmake_install.cmake
build/Source/BasicMathFunctions/cmake_install.cmake
build/Source/ConcatenationFunctions/cmake_install.cmake
build/Source/ConvolutionFunctions/cmake_install.cmake
build/Source/FullyConnectedFunctions/cmake_install.cmake
build/Source/NNSupportFunctions/cmake_install.cmake
build/Source/PoolingFunctions/cmake_install.cmake
build/Source/ReshapeFunctions/cmake_install.cmake
build/Source/SVDFunctions/cmake_install.cmake
build/Source/SoftmaxFunctions/cmake_install.cmake
build/debug/assert_handler.lst
build/debug/nrf24.d
build/debug/nrf24.lst
build/debug/nrf24.o
build/debug/printf.d
build/debug/printf.lst
build/debug/printf.o
build/debug/stm32f4xx_hal_spi.lst
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/codemodel-v2-31086cff015673ef1ae1.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-Source-Debug-93ebefb0dc4084c9ccf4.json
build/.cmake/api/v1/reply/directory-Source.ActivationFunctions-Debug-d7c4e292c7d2c897d8e8.json
build/.cmake/api/v1/reply/directory-Source.BasicMathFunctions-Debug-edb42b17a7f92eeee533.json
build/.cmake/api/v1/reply/directory-Source.ConcatenationFunctions-Debug-1eea99eb239da125e073.json
build/.cmake/api/v1/reply/directory-Source.ConvolutionFunctions-Debug-a50dbc04a23333934f23.json
build/.cmake/api/v1/reply/directory-Source.FullyConnectedFunctions-Debug-6df75e882a2243baeafd.json
build/.cmake/api/v1/reply/directory-Source.NNSupportFunctions-Debug-6247cfe2461e7a38879b.json
build/.cmake/api/v1/reply/directory-Source.PoolingFunctions-Debug-651e7d1ac8967ea97f6a.json
build/.cmake/api/v1/reply/directory-Source.ReshapeFunctions-Debug-cd6928df1b46704d5677.json
build/.cmake/api/v1/reply/directory-Source.SoftmaxFunctions-Debug-ebc98f5f5e1ff424b3b1.json
build/.cmake/api/v1/reply/directory-Source.SVDFunctions-Debug-aba629e65d334fc3335e.json
build/.cmake/api/v1/reply/target-cmsis-nn-Debug-47dff79700071d6f006e.json
build/.cmake/api/v1/reply/toolchains-v1-e719e28fe32911e094f8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeSystem.cmake
build/CMakeFiles/3.28.1/CompilerIdC/a.exe
build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Source/cmake_install.cmake
build/Source/ActivationFunctions/cmake_install.cmake
build/Source/BasicMathFunctions/cmake_install.cmake
build/Source/ConcatenationFunctions/cmake_install.cmake
build/Source/ConvolutionFunctions/cmake_install.cmake
build/Source/FullyConnectedFunctions/cmake_install.cmake
build/Source/NNSupportFunctions/cmake_install.cmake
build/Source/PoolingFunctions/cmake_install.cmake
build/Source/ReshapeFunctions/cmake_install.cmake
build/Source/SVDFunctions/cmake_install.cmake
build/Source/SoftmaxFunctions/cmake_install.cmake
build/debug/assert_handler.lst
build/debug/nrf24.d
build/debug/nrf24.lst
build/debug/nrf24.o
build/debug/printf.d
build/debug/printf.lst
build/debug/printf.o
build/debug/stm32f4xx_hal_spi.lst
cmake/gcc-arm-none-eabi.cmake
cmake/starm-clang.cmake
cmake/stm32cubemx/CMakeLists.txt
.claude/settings.local.json
doc/kicad/rover-backups/
Src/main.c
Inc/global_config.h
Inc/global_config.h
